<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: main-header">

</head>
<body>
<div th:include="fragment/navbar.html :: main-nav"></div>

<h1>This is the admin profile</h1>

<h3>These are all the Users:</h3>

<table class="table" th:value="Users">
    <thead class="thead-light">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone number</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">ID</td>
        <td th:text="${user.username}">username</td>
        <td th:text="${user.first_name}">first Name</td>
        <td th:text="${user.last_name}">last Name</td>
        <td th:text="${(user.phone_number)}">phone</td>
    </tr>
    </tbody>
</table>

<table class="table" th:value="Users">
    <thead class="thead-light">
    <tr>
        <th scope="col">Username</th>
        <th scope="col">Client history</th>
        <th scope="col">Client information</th>
        <th scope="col">Previous counseling</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}">username</td>
                <td th:text="${user.client.client_history.description}">history</td>
                <td th:text="${user.client.client_history.otherInformation}">other info</td>
                <td th:text="${user.client.client_history.previousCounseling}">previous counseling</td>
    </tr>
    </tbody>
</table>


<table class="table" th:value="Users">
    <thead class="thead-light">
    <tr>
        <th scope="col">Username</th>
        <th scope="col">Emergency contact name</th>
        <th scope="col">Emergency contact phone number</th>
        <th scope="col">Provider name</th>
        <th scope="col">Provider contact number</th>
        <th scope="col">Group contact</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}">username</td>
        <td th:text="${user.client.client_contact.emergency_contact_name}">Emergency contact name </td>
        <td th:text="${user.client.client_contact.emergency_contact_number}">Emergency contact phone number</td>
        <td th:text="${user.client.client_contact.provider_name}">Provider name </td>
        <td th:text="${user.client.client_contact.provider_contact_number}">Provider contact number</td>
        <td th:text="${user.client.group_clients[0].group_id.category_name}">Group contact</td>
    </tr>
    </tbody>
</table>



</body>
</html>