<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: main-header">

</head>
<body>
<div th:include="fragment/navbar.html :: main-nav"></div>

<h1>This is the admin profile</h1>

<h3>These are all the Users:</h3>

<table class="table" th:value="Users">
    <thead class="thead-light">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone number</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">ID</td>
        <td th:text="${user.username}">username</td>
        <td th:text="${user.first_name}">first Name</td>
        <td th:text="${user.last_name}">last Name</td>
        <td th:text="${(user.phone_number)}">phone</td>
    </tr>

    </tbody>
</table>


</body>
</html>