.chatroomHeader{
    margin-top: 1.5rem !important;
    font-size: 2.3rem !important;
    color: #609AB4 !important;
    /*margin-left: -7% !important;*/
}
.peopleGroup{
    color: #609AB4 !important;
    margin-left: 1%;
}
.groupPic{
    width: 10rem;
}
/*------ media break ------ */

@media only screen and (max-width: 600px) {
    .chatroomHeader{
        font-size: 29px !important;
    }
    .peopleGroup{
        text-align: center;
    }
    .groupPic{
        width: auto !important;
    }
    /*.memberPic{*/
    /*    width: 25%;*/
    /*    height: 25%;*/
    /*}*/
}