
.right-colu2{
    margin-top: -30%;
    margin-right: 18%;
    float:right;


}

.landing-pic{
    margin-top: 2%;
    margin-left: 10%;
    width: 40%;
}

#test{
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */

    animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#test2{
    transition-property: width;
    transition-duration: 10s;
    transition-timing-function: linear;
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
    /*-moz-animation: fadein 2s; !* Firefox < 16 *!*/

    /*animation-delay: 2s !important;*/
    animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
