html{
    scroll-behavior: smooth;

}

.bgtest{
    background: url("/images/imagescontainer/bg1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.right-colu2{
    margin-top: -25%;
    margin-right: 18%;
    float:right;


}

.right-colu3{
    width: 45%;
    padding: 3%;
    margin-top: -25%;
    margin-left: 49%;
    /*float:right;*/


}
.landing-pic{
    /*margin-top: 2%;*/
    margin-left: -19%;
    width: 75%;

}
.fadein1{
/*#fadein1{*/
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    /*animation-delay: 6s;*/
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*#test{*/
    /*visibility: hidden;*/
/*}*/

.fadein2{
    transition-property: width;
    transition-duration: 5s;
    transition-timing-function: linear;
    -webkit-animation: fadein 5s;
    /* Safari, Chrome and Opera > 12.1 */
    /*-moz-animation: fadein 2s; !* Firefox < 16 *!*/
    /*animation-delay: 2s !important;*/
    /*visibility: visible;*/
    /*animation-delay: 2s !important;*/
    animation: fadein 5s;
}

@keyframes fadein {
    0% { opacity: 0; }
    50%  { opacity: 0; }
    100% {opacity: 1;}
}

.fadein3{
    transition-property: width;
    transition-duration: 5s;
    transition-timing-function: linear;
    -webkit-animation: fadein 7s;
    /* Safari, Chrome and Opera > 12.1 */
    /*-moz-animation: fadein 2s; !* Firefox < 16 *!*/
    /*animation-delay: 2s !important;*/
    /*visibility: visible;*/
    /*animation-delay: 2s !important;*/
    animation: fadein 7s;

}

@keyframes fadein {

    0% { opacity: 0; }
    66%  { opacity: 0; }
    100% {opacity: 1;}
}

.main-paragraph{
    color: #49484A;
    font-size: 130%;
}

.index-background-1{
    /*background-image: url("/images/imagescontainer/bg1.png");*/
    /*width: 130%;*/
    /*height: 150%;*/
    /*background-color: rgb(231, 231, 231);*/
    padding-bottom: -6%;
}

.down-arrow{
    margin-bottom: -13%;
    margin-left: 50%;
    color: rgb(96, 150, 180) !important;
}

.down-arrow:hover{
    transform: scale(1.5);
    transition: all ease 500ms;
}
.index-image{
    margin-top: 50%;
    width: 100%;
    height: 150%;
    margin-bottom: -10%;
}

