html{
    scroll-behavior: smooth;


}

.bgtest{
    background: url("/images/imagescontainer/bg1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.right-colu2{
    margin-top: -25%;
    margin-right: 18%;
    float:right;


}

.main-paragraph{
    width: 45%;
    padding: 3%;
    margin-top: -25%;
    margin-left: 49%;
    /*float:right;*/



}
.landing-pic{
    /*margin-top: 2%;*/
    margin-left: -19%;
    width: 75%;

}

.landing-pic2{
    visibility: hidden;
    width: 0%;
}

.fadein1{
/*#fadein1{*/
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    /*animation-delay: 6s;*/
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*#test{*/
    /*visibility: hidden;*/
/*}*/

.fadein2{
    transition-property: width;
    transition-duration: 5s;
    transition-timing-function: linear;
    -webkit-animation: fadein 5s;
    /* Safari, Chrome and Opera > 12.1 */
    /*-moz-animation: fadein 2s; !* Firefox < 16 *!*/
    /*animation-delay: 2s !important;*/
    /*visibility: visible;*/
    /*animation-delay: 2s !important;*/
    animation: fadein 5s;
}

@keyframes fadein {
    0% { opacity: 0; }
    50%  { opacity: 0; }
    100% {opacity: 1;}
}

.fadein3{
    transition-property: width;
    transition-duration: 5s;
    transition-timing-function: linear;
    -webkit-animation: fadein 7s;
    /* Safari, Chrome and Opera > 12.1 */
    /*-moz-animation: fadein 2s; !* Firefox < 16 *!*/
    /*animation-delay: 2s !important;*/
    /*visibility: visible;*/
    /*animation-delay: 2s !important;*/
    animation: fadein 7s;

}

@keyframes fadein {

    0% { opacity: 0; }
    66%  { opacity: 0; }
    100% {opacity: 1;}
}

.main-paragraph{
    color: #49484A;
    font-size: 130%;
}

.index-background-1{
    /*background-image: url("/images/imagescontainer/bg1.png");*/
    /*width: 130%;*/
    /*height: 150%;*/
    /*background-color: rgb(231, 231, 231);*/
    /*padding-bottom: -6%;*/
}

.down-arrow{
    margin-bottom: -13%;
    margin-left: 50%;
    color: rgb(96, 150, 180) !important;
}

.down-arrow:hover{
    transform: scale(1.5);
    transition: all ease 500ms;
}
.index-image{
    margin-top: 15%;
    width: 100%;
    height: 150%;
    margin-bottom: -10%;
}


#indexblurb2{

    /*position: absolute;*/
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;

}


 /*------ media break ------ */

@media only screen and (max-width: 600px) {

    .right-colu2{
        margin-top: -40%;
        width: 75%;
        font-weight: bold;
    }
    .main-paragraph{
        margin-left:4%;
        margin-top: -20%;
        /*padding-right: 20% !important;*/
        width: 80%;
    }


    .test{
        width: 100%;
    /*margin-right: 80% !important;*/
        padding: 0 !important;
         }


    .landing-pic{

        visibility: hidden;
    }

    .landing-pic2{
        visibility: visible;
        width: 90%;
        /*margin-top: -30%;*/

    }
}