.login-box{
    background-color: rgb(235, 235, 235);
    padding: 1%;
    padding-left: -5%;
    margin-left: 25%;
    margin-right: 25%;
     margin-top: 10%;
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
}

.login-box2{
    margin-top: 10px;
    margin-right: 20%;
    margin-left: 20%;
}

.blue-font{
    color: rgb(96, 150, 180) !important;
}

.login-button{
    background-color: rgb(96, 150, 180) !important;
    color: white !important;
    margin-top: -8%;
    margin-bottom: 20px;
    margin-left: 20%;
}

.warning-text{
    margin-left: 20%;
}

#login-main-header{
    margin-left: 43%;
}

#login-sub-header{
    margin-left: 42%;
}

#login-about{
    margin-left: 10%;
}

.login-text{
    font-size: 80% !important;
    margin-left: 55%;


}

@media (max-width: 998px) and (orientation: portrait) {
    .picture-desc {
        padding: 1.5rem 20px;
        font-size: 1rem;
        height: unset;
        min-height: 100vh;
    }
    .picture-title {
        font-size: 2.5rem;
        margin: 20px 0;
        letter-spacing: unset;
    }
    .picture-about {
        margin-top: 20px;
    }
}
