

a{
    font-family: 'Raleway', sans-serif;
    color: #49484A;
    font-size: 23px;
}
.navbar-item:hover{
    color:  #49484A !important;
    background-color: transparent !important;
}

#logo{
    font-family: 'Playfair Display', serif;

}

.navbar-brand{
    font-size: 50px !important;
    /*margin-top: 10px;*/
    padding: 0 !important;
    margin-bottom: -5px;
}

.navbar-item {
    font-family: 'Raleway', sans-serif !important;
    color: rgb(96, 150, 180) !important;
    font-size: 23px;
    padding-right: 15px;
}
#logout-btn {
    font-family: 'Raleway', sans-serif !important;
    color: rgb(96, 150, 180) !important;
    font-size: 23px !important;
    padding-right: 15px;
    background-color: transparent;
    border: none !important;

}

.nav-background{
    background-color: rgb(222, 237, 246);
}
/*#nav-line{*/
    /*border-bottom: 3px solid #E2252B;*/
/*}*/

#index-navbar{
    font-family: 'Playfair Display', serif;
    color: #49484A;

    /*font-size: 50px;*/
}

/*.nav-link {*/
    /*padding: 0.2rem 0rem;*/
/*}*/

/*#about-us-nav {*/
    /*-webkit-box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.2);*/
    /*-moz-box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.2);*/
    /*box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.2);*/
    /*border-bottom: 5px solid #E2252B;*/
/*}*/

#heart{
    color: rgb(96, 150, 180);
}

.dropdown-item{
    color: #49484A;
    padding: 0;
}

#navbarDropdownMenuLink,
#navbarDropdownAnimalLink{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.login{
    /*font-family: 'Raleway', sans-serif;*/
    /*font-size: 20px;*/
    /*padding-left: 17px;*/
}



/*.navbar, .navbar-item{*/
    /*width: 110%;*/

    /*background-color: rgb(222, 237, 246) !important;*/
    /*color: rgb(96, 150, 180 );*/

    /*!*margin-top: -5%;*!*/

/*}*/

/*.navbar-item{*/
    /*!*margin-bottom: 100px;*!*/
/*}*/

/*.navbar-menu {*/
    /*margin-left: 70% !important;*/
/*}*/

/*}*/

/*.navbar-start{*/

    /*margin-bottom: 100px !important;*/
/*}*/
/*.main-logo{*/

    /*padding-left:5%;*/
    /*font-weight: bolder;*/
    /*font-size: 50px !important;*/
    /*margin-top: 10%;*/

/*}*/

/*.logo-img{*/
    /*margin-left: 40%;*/
/*}*/

/*#about-healthology{*/
    /*padding: 10%;*/
/*}*/

/*#login-box{*/

    /*flex-direction: row;*/
    /*padding: 60px;*/
    /*margin-bottom: 100px;*/
    /*margin-top: 100px;*/

/*}*/


/*.register-form{*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*margin-right: 20% !important;*/
/*}*/

/*#button{*/
    /*background-color:red !important;*/
/*}*/


/*.navbar, .navbar-item{*/
    /*!*line-height: 20%;*!*/
    /*!*height: 20%;*!*/
    /*!*padding-top: 0;*!*/
    /*background-color: rgb(222, 237, 246) !important;*/
    /*color: rgb(96, 150, 180 );*/
    /*font-size: 110%;*/

/*}*/

/*.navbar-menu {*/
    /*margin-left: 30% !important;*/

/*}*/


/*.main-logo{*/
    /*padding: 2%;*/
    /*padding-left:5%;*/
    /*font-weight: bolder;*/
    /*font-size: 250%;*/

    /*!*margin-left: 40%;*!*/

/*}*/
