body {
    margin: 0;
}
/*need this for takign away white space on either side*/

a{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding-right: 10px;

}

.navbar, .navbar-item{
    width: 110%;

    background-color: rgb(222, 237, 246) !important;
    color: rgb(96, 150, 180 );

    margin-top: -5%;

}

.navbar-item{
    margin-bottom: 100px;
}

.navbar-menu{
    margin-left: 70% !important;


}

.navbar-start{

    margin-bottom: 100px !important;
}
.main-logo{

    padding-left:5%;
    font-weight: bolder;
    font-size: 50px !important;
    margin-top: 10%;

}

.logo-img{
    margin-left: 40%;
}

/*#about-healthology{*/
    /*padding: 10%;*/
/*}*/

/*#login-box{*/

    /*flex-direction: row;*/
    /*padding: 60px;*/
    /*margin-bottom: 100px;*/
    /*margin-top: 100px;*/

/*}*/


/*.register-form{*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*margin-right: 20% !important;*/
/*}*/

/*#button{*/
    /*background-color:red !important;*/
/*}*/

