#profile-card {
    background-color: rgb(235, 235, 235) !important;
}

.blue-font{
    color: rgb(96, 150, 180) !important;
}

.media-body p{
    font-size: 18px !important;
}

.profile-container button {
    background-color: rgb(96, 150, 180) !important;
    color: white !important;
}

.radio_item{
    display: none !important;
}

.label_item {
    opacity: 0.5;
}

.radio_item:checked + label {
    opacity: 1;
}

.group-names{
    font-size: 18px;
    color:  #49484A !important;
    text-decoration: underline;

}

.group-names:hover{
    color:  rgb(96, 150, 180) !important;
}



