#profile-card {
    background-color: rgb(235, 235, 235) !important;
}

.blue-font{
    color: rgb(96, 150, 180) !important;
}

.media-body p{
    font-size: 18px !important;
}

.profile-container button {
    background-color: rgb(96, 150, 180) !important;
    color: white !important;
}

.radio_item{
    display: none !important;
}

.label_item {
    opacity: 0.5;
}

.radio_item:checked + label {
    opacity: 1;
}

.group-names{
    font-size: 24px;
    color:  #49484A !important;
    text-decoration: underline;
}

.group-names:hover{
    color:  rgb(96, 150, 180) !important;
}

/*=======BREAK POINT====*/
@media only screen and (max-width: 600px) {
    .profile-header{
        font-size: 31px !important;
    }
    .profile-btns {
        margin-top: 26px !important;
    }
    .group-names {
        font-size: 21px !important;
    }
    .journal-title{
        font-size: 28px !important;
    }


}


