.register-box{
    background-color: rgb(235, 235, 235);
    padding: 50px;
    margin-left: 32%;
    margin-right: 32%;
    margin-top: 5%;
}

.register-button{
    background-color: rgb(96, 150, 180) !important;
    color: white !important;
    margin-top: 10px;
    margin-left: 20%;
}

#register-main-header{
    margin-left: 40%;
}

#register-about{
    margin-left: 10%;
}