.register-box{
    background-color: rgb(235, 235, 235);
    margin-top: 5%;
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
}
.register-button{
    background-color: rgb(96, 150, 180) !important;
    color: white !important;
    margin-top: 10px;
    margin-left: 20%;
}
.register-mainBox{
    border: none !important;
    margin-right: 15% !important;
    margin-left: 15% !important;
}
.history-label{
    font-size: 20px;
}
.contact-label{
    font-size: 20px;
}
.groupSummary{
    font-size: 20px;
}

.register-label{
    font-size: 22px;
    margin-left: 4px;
}
#register-about{
    font-size: 20px;
}

.box-box{
    margin-top: 2%;
    background-color: rgb(235, 235, 235);;
    border: none !important;
    margin-left: 20%;
    margin-right: 20%;

}

.btn-secondary{
    border: 1px solid #6096B4;

}
.groupsBtn{
    height: 15px;
    width: 15px;
    vertical-align: middle;
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

#topBar {
    font-family: 'Lato', sans-serif;
    width: 1000px;
    margin: 0 auto;
}

.wrapper {
    display: table-cell;
    height: 400px;
    vertical-align: middle;
}

.pull-right {
    float: right;
}

.arrow-steps .step {
    font-size: 14px;
    text-align: center;
    color: #666;
    cursor: default;
    margin: 0 3px;
    padding: 10px 10px 10px 30px;
    min-width: 19%;
    float: left;
    position: relative;
    background-color: #d9e3f7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
    content: " ";
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #d9e3f7;
    z-index: 2;
    transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
    right: auto;
    left: 0;
    border-left: 17px solid #fff;
    z-index: 0;
}

.arrow-steps .step:first-child:before {
    border: none;
}

.arrow-steps .step:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
    position: relative;
}

.arrow-steps .step span:before {
    opacity: 0;
    content: "✔";
    position: absolute;
    top: -2px;
    left: -20px;
}

.arrow-steps .step.done span:before {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease 0.5s;
    -moz-transition: opacity 0.3s ease 0.5s;
    -ms-transition: opacity 0.3s ease 0.5s;
    transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
    color: #fff;
    background-color: #6096B4;
}
.shadow2 {
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    padding: 5% !important;
}

.arrow-steps .step.current:after {
    border-left: 17px solid #6096B4 !important;
}

/*=======BREAK POINT====*/
@media only screen and (max-width: 600px) {
    .register-mainBox{
        margin-right: -20% !important;
        margin-left: -20% !important;
    }

    .arrow-steps .step {
        min-width: 10px !important;
    }
    .register-label {
        margin-left: 5px !important;
    }
    .register-header .consent-header .history-header .contact-header {
        font-size: 39px !important;
    }
    .client-one-h3 {
        margin-top: 9px !important;
        text-align: center !important;
        font-size: 26px !important;
    }
    .history-label {
       margin-left: 3.9px !important;
    }
    .contact-label {
        margin-left: 3px !important;
    }
    .group-header {
        font-size: 38px; !important;
    }

}