<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: main-header('Group Selection')">

</head>
<body>

<div th:insert="fragment/navbar.html :: main-nav"></div>

<form th:action="@{/client_groupSelection/}" method="POST" th:object="${group}">
    <div class="card register-mainBox">
        <div class="card-body box-box">
            <div class="arrow-steps clearfix">
                <div class="step done"><span> Step 1</span></div>
                <div class="step done"><span>Step 2</span></div>
                <div class="step done"><span> Step 3</span></div>
                <div class="step done"><span>Step 4</span></div>
                <div class="step current"><span>Step 5</span></div>
                <br><br>
            </div>
            <br>
            <br>
            <H1 class="blue-font text-center group-header">Group selection</H1>
            <p>Select the support groups you would like to join. Make sure the groups you select are relevant to you.
                You do not have to join every group.</p>


            <input type="checkbox" id="Depression" name="Depression" th:value="1 ">
            <label for="Depression"> Depression</label><br>


            <input type="checkbox" id="PTSD" name="PTSD" th:value="2">
            <label for="PTSD"> PTSD </label><br>

            <input type="checkbox" id="Anxiety" name="Anxiety" th:value="3">
            <label for="Anxiety"> Anxiety </label><br>

            <input type="checkbox" id="OCD" name="OCD" th:value="4">
            <label for="OCD"> OCD </label><br>

            <input type="checkbox" id="Eating disorders" name="Eating disorders" th:value="5">
            <label for="Eating disorders"> Eating disorder </label><br>

            <input type="checkbox" id="Insomnia" name="Insomnia" th:value="6">
            <label for="Insomnia"> Insomnia </label><br>

            <input type="checkbox" id="Postpartum" name="Postpartum" th:value="7">
            <label for="Postpartum"> Postpartum </label><br><br>

            <button type="submit" class="bg-info text-white center-block pull-right btn btn-secondary">Submit</button>
        </div>
    </div>


</form>
<th:block th:replace="fragment/scripts :: scripts"/>
</body>
</html>