<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head th:fragment="main-header">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />

    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

    <!--<script src="https://kit.fontawesome.com/a814f33d43.js" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/navbar.css}">
    <link rel="stylesheet" th:href="@{/profile.css}">
    <link rel="stylesheet" th:href="@{/adminnavbar.css}">
    <link rel="stylesheet" th:href="@{/login.css}">
    <link rel="stylesheet" th:href="@{/register.css}">
    <link rel="stylesheet" th:href="@{/resources.css}">
    <link rel="stylesheet" th:href="@{/index.css}">
    <link rel="stylesheet" th:href="@{/aboutme.css}">
    <link rel="stylesheet" th:href="@{/groups.css}">


</head>
<body>

</body>
</html>