<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="main-nav">
<h3>Links through the site</h3>
<nav>
    <ul>
        <li sec:authorize="!isAuthenticated()">
            <a  th:href="@{/login}">Login</a>
        </li>
        <li sec:authorize="!isAuthenticated()">
            <a th:href="@{/register}">Sign Up</a>
        </li>
        <li>
            <a href="/profile">Profile</a>
        </li>
            <form th:action="@{/logout}" th:method="post" sec:authorize="isAuthenticated()">
                <button type="submit">Logout</button>
            </form>
    </ul>
</nav>
</div>
</body>
</html>