<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="upload">
    <script src="js/keys.js"></script>
    <script type="text/javascript" src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            const client = filestack.init(document.querySelector('meta.fsapi').content);
            const options = {
                onUploadDone: (res) =>
                        $('#image').append(`<input type="text" name="profile_img" value="https://cdn.filestackcontent.com/${res.filesUploaded[0].handle}">`),
            };
            $('#add-picture').click(function () {
                client.picker(options).open();
            });
            console.log(options.onUploadDone(res));
        });
    </script>

    <div id="image"></div>
</th:block>

</body>
</html>