<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: main-header">

</head>
<body class="bgtest">
<div th:include="fragment/navbar.html :: main-nav"></div>


<div class="login-box">
    <h1 class="blue-font" id="login-main-header">Sign In</h1>
    <h5 class="blue-font" id="login-sub-header">Welcome back!</h5>
    <p class="blue-font" id="login-about">Please sign in with your username and password you registered with and start talking to your group.</p>
    <div class ="blue-font warning-text" th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div class="blue-font warning-text" th:if="${param.logout}">
        You have been logged out.
    </div>
<form th:action="@{/login}" method="post">


    <div class="form-group login-box2">

        <input id="username" name ="username" type= "text" class="form-control"  placeholder="Username">
    </div>

    <div class="form-group login-box2">

        <input id="password" name="password" type="password" class="form-control" placeholder="Password">
    </div>

    <button id="submit" type="submit" class="btn login-button">Login</button>
<!--<p><a th:href="@{/register}">Not a member? Sign up here!</a></p>-->
</form>
</div>
<th:block th:replace="fragment/scripts :: scripts" />
</body>
</html>