<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/header :: main-header('Group Member Profile')">
</head>
<body class="bgtest">

<div th:include="fragment/navbar.html :: main-nav"></div>
<div class="container profile-container">

    <div class="card p-4 mt-5 blue-font" id="profile-card">
        <h2 class="card-title"><span th:text="${user.username}">user</span>'s profile page</h2>
        <div class="card-text media">
            <img th:src="${user.profile_img}" alt="profile" class="img-fluid align-self-center mr-3" width="25%" height="25%">
            <div class="media-body">
                <h4 class="mt-0">About Me:</h4>
                <p><span th:text="${user.about_me}"></span></p>
            </div>
        </div>
    </div>

</div>
<th:block th:replace="fragment/scripts :: scripts" />
</body>
</html>