<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: main-header">
<!--need to add header tag here-->
</head>
<body>

<div th:include="fragment/navbar.html :: main-nav"></div>

<h1>Welcome to your profile, <span th:text="${user.username}">user</span>!</h1>



<img th:src="${user.profile_img}" alt="profile" height="50px"
      width="50px">

<button type="button" data-toggle="modal" id="add-picture" data-target="#pictureModal">Edit Picture</button>


<div class="picture-modal modal" id="pictureModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">About Me:</h5>
                <button type="button" class="edit-modal-close close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-group">
                <form th:action="@{'/users/' + ${user.id} + '/photo'}" th:method="POST" th:object="${user}">
                    <div class="modal-body" id="image">
                        <th:block th:include="fragment/photoUpload :: upload"></th:block>
                    </div>
                    <div class="modal-footer">
                    <button type="submit" class="btn btn-primary form-control">Save Picture</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<h1> About Me: <span th:text="${user.about_me}"></span> </h1>

<!--EDIT PROFILE MODAL-->
<button type="button" data-toggle="modal" data-target="#myModal">Edit Profile</button>

<div class="edit-modal modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">About Me:</h5>
                <button type="button" class="edit-modal-close close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-group">
                <form th:action="@{'/users/' + ${user.id} + '/edit'}" th:method="POST" th:object="${user}">
                <div class="modal-body">
                    <div class="form-row mt-1">
                        <label for="about_me" class="col-form-label">About Me:</label>
                        <input class="form-control" id="about_me" name="aboutMe" type ="text" th:field="*{about_me}"
                               placeholder="Tell us about you...">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary form-control">Save Edits</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

<!--JOURNAL ENTRY CARDS-->
<div class="container">
    <h1>Journal Entries:</h1>
    <div class="card text-center mt-2" th:each="journal: ${journals}">
        <div class="card-body">
            <h5 class="card-title">
                <span th:text="${journal.title}"></span></a>
            </h5>
            <p>Posted on <span th:text="${journal.date}">date goes here</span></p>
            <p class="card-text" th:text="${journal.entry}"></p>
        </div>
    </div>
</div>

<!--JOURNAL ENTRY MODAL-->
<button type="button" data-toggle="modal" data-target="#myJournalModal">Add a New Journal Entry</button>

<div class="add-modal modal" id="myJournalModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Entry:</h5>
                <button type="button" class="add-modal-close close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-group">
                <form th:action="@{/journal/create}" th:method="POST" th:object="${journal}">
                    <div class="modal-body">
                    <div class="form-row mt-1">
                        <label for="title" class="col-form-label">Title</label>
                        <input class="form-control" id="title" type ="text" th:field="*{title}" placeholder="Enter title">
                    </div>
                    <div class="form-row mt-1">
                        <label for="body" class="col-form-label">Body</label>
                        <textarea class="form-control" id="body" th:field="*{entry}" placeholder="Enter body"></textarea>
                    </div>
                    <div class="form-row mt-1">
                        <label for="rating" class="col-form-label">Rating</label>
                        <input class="form-control" id="rating" th:field="*{rating}" placeholder="Enter body">
                    </div>
                    <div class="form-row mt-1">
                        <label for="date" class="col-form-label">Date (YYYY-MM-DD) </label>
                        <input class="form-control" id="date" th:field="*{date}" placeholder="Enter body">
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary form-control">Add Entry</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragment/scripts :: scripts" />
</body>
</html>