<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta class="fsapi" th:content="${fsapi}">
    <th:block th:include="fragment/header :: main-header"/>
</head>
<body class="bgtest">
<div th:include="fragment/navbar.html :: main-nav"></div>
<div class="container profile-container">

    <div class="card p-4 mt-5 blue-font" id="profile-card">
        <h2 class="card-title text-center p-3">Welcome to your profile, <span th:text="${user.username}">user</span>!
        </h2>
        <div class="card-text media">
            <img th:src="${user.profile_img}" alt="profile" class="img-fluid align-self-center mr-3" width="25%" height="25%">
            <div class="media-body">
                <h4 class="mt-0">About Me:</h4>
                <p><span th:text="${user.about_me}"></span></p>
            </div>
        </div>
        <p class="align-self-end">
            <button type="button" class="btn btn-light" data-toggle="modal" id="add-picture" data-target="#pictureModal">Edit
                Picture</button>
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#myModal">Edit Profile</button>
        </p>
</div>


        <!--<h1>Welcome to your profile, <span th:text="${user.username}">user</span>!</h1>-->
    




<div class="picture-modal modal" id="pictureModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Picture:</h5>
                <button type="button" class="edit-modal-close close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-group">
                <form th:action="@{'/users/' + ${user.id} + '/photo'}" th:method="POST">
                    <div class="modal-body" id="image">
                        <th:block th:include="fragment/photoUpload :: upload"/>
                    </div>
                    <div class="modal-footer">
                    <button type="submit" class="btn btn-primary form-control">Save Picture</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!--EDIT PROFILE MODAL-->

<div class="edit-modal modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">About Me:</h5>
                <button type="button" class="edit-modal-close close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-group">
                <form th:action="@{'/users/' + ${user.id} + '/edit'}" th:method="POST" th:object="${user}">
                <div class="modal-body">
                    <div class="form-row mt-1">
                        <label for="about_me" class="col-form-label">About Me:</label>
                        <textarea class="form-control" id="about_me" name="aboutMe" type ="text" th:field="*{about_me}"
                                  placeholder="Tell us about you..."></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary form-control">Save Edits</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </form>
                <form th:action="@{'/users/' + ${user.id} + '/delete'}" th:method="POST">
                    <button>Delete Profile</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!--JOURNAL ENTRY CARDS-->
<div class="mt-3">
    <h1 class="blue-font"> Journal Entries:</h1>
    <div class="card text-center mt-2" th:each="journal: ${journals}">
        <div class="card-body">
            <h5 class="card-title">
                <span th:text="${journal.title}"></span></a>
            </h5>
            <p>Posted on <span th:text="${journal.date}">date goes here</span></p>
            <p>Rating: <span th:text="${journal.rating}"></span></p>
            <p class="card-text" th:text="${journal.entry}"></p>
        </div>
    </div>
</div>

<!--JOURNAL ENTRY MODAL-->
<button type="button" data-toggle="modal" data-target="#myJournalModal" class="btn mt-2 form-control">Add a New Journal
    Entry</button>

<div class="add-modal modal" id="myJournalModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Entry:</h5>
                <button type="button" class="add-modal-close close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-group">
                <form th:action="@{/journal/create}" th:method="POST" th:object="${journal}">
                    <div class="modal-body">
                    <div class="form-row mt-1">
                        <label for="title" class="col-form-label">Title</label>
                        <input class="form-control" id="title" type ="text" th:field="*{title}" placeholder="Enter title">
                    </div>
                    <div class="form-row mt-1">
                        <label for="body" class="col-form-label">Tell us about your day..</label>
                        <textarea class="form-control" id="body" th:field="*{entry}"
                                  placeholder="How are you feeling today?"></textarea>
                    </div>
                    <div class="form-row mt-1">
                        <label for="rating" class="col-form-label">Rating</label>
                        <input class="form-control" id="rating" th:field="*{rating}" placeholder="Enter rating">
                    </div>
                    <div class="form-row mt-1">
                        <label for="date" class="col-form-label">Date (YYYY-MM-DD) </label>
                        <input class="form-control" id="date" th:field="*{date}" placeholder="Enter date">
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary form-control">Add Entry</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
<th:block th:replace="fragment/scripts :: scripts" />
</body>
</html>