<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta class="fsapi" th:content="${fsapi}">
    <th:block th:include="fragment/header :: main-header"/>
</head>
<body class="bgtest">
<div th:include="fragment/navbar.html :: main-nav"></div>
<div class="container profile-container">

<!--    PROFILE CARD    -->
    <div class="card p-4 mt-5 blue-font" id="profile-card">
        <h2 class="card-title text-center p-3">Welcome to your profile, <span th:text="${user.username}">user</span>!
        </h2>
        <div class="card-text media">
            <img th:src="${user.profile_img}" alt="profile" class="img-fluid align-self-center mr-3" width="25%" height="25%">
            <div class="media-body">
                <h4 class="mt-0">About Me:</h4>
                <p><span th:text="${user.about_me}"></span></p>
                <h4>Here are your groups: </h4>
                <span th:each="group: ${groups}">
                <span th:text="${group.category_name}"></span>
                </span>
            </div>
        </div>
        
        <p class="align-self-end">
            <button type="button" class="btn btn-light" data-toggle="modal" id="add-picture" data-target="#pictureModal">Edit
                Picture</button>
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#myModal">Edit Profile</button>
        </p>
</div>

<!--    PHOTO UPLOAD MODAL  -->

<div class="picture-modal modal" id="pictureModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Picture:</h5>
                <button type="button" class="edit-modal-close close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-group">
                <form th:action="@{'/users/' + ${user.id} + '/photo'}" th:method="POST">
                    <div class="modal-body" id="image">
                        <th:block th:include="fragment/photoUpload :: upload"/>
                    </div>
                    <div class="modal-footer">
                    <button type="submit" class="btn btn-primary form-control">Save Picture</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!--EDIT PROFILE MODAL-->

<div class="edit-modal modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Profile:</h5>
                <button type="button" class="edit-modal-close close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-group">
                <form th:action="@{'/users/' + ${user.id} + '/edit'}" th:method="POST" th:object="${user}">
                <div class="modal-body">
                    <div class="form-row mt-1">
                        <label for="about_me" class="col-form-label">About Me:</label>
                        <textarea class="form-control" id="about_me" name="aboutMe" type ="text" th:field="*{about_me}"
                                  placeholder="Tell us about you..."></textarea>
                    </div>
                    <div class="form-row mt-1" th:object="${client_contact}">
                        <label for="contact_name" class="col-form-label">Emergency Contact Name:</label>
                        <input class="form-control" id="contact_name" name="contact_name" type ="text"
                                  th:field="*{emergency_contact_name}">
                        <label for="contact_number" class="col-form-label">Emergency Contact Number:</label>
                        <input class="form-control" id="contact_number" name="contact_number" type ="text"
                                  th:field="*{emergency_contact_number}">
                        <label for="provider_name" class="col-form-label">Provider Name:</label>
                        <input class="form-control" id="provider_name" name="provider_name" type ="text"
                               th:field="*{provider_name}">
                        <label for="provider_number" class="col-form-label">Provider Number:</label>
                        <input class="form-control" id="provider_number" name="provider_number" type ="text"
                               th:field="*{provider_contact_number}">
                    </div>
                    <div class="form-row mt-1" th:object="${client_history}">
                        <label for="description" class="col-form-label">Please enter a description about what you
                            want to work on in these group sessions:</label>
                        <textarea class="form-control" id="description" name="description" type ="text"
                                  th:field="*{description}"></textarea>
                        <label for="other-info" class="col-form-label">Please enter other information that you think
                            the clinician should know:</label>
                        <textarea class="form-control" id="other-info" name="other-info" type ="text"
                                  th:field="*{otherInformation}"></textarea>
                        <label for="counsel" class="col-form-label">Please list any previous counseling you've
                            had, why you were in counseling and the place and the clinician that you saw:</label>
                        <textarea class="form-control" id="counsel" name="counsel" type ="text"
                                  th:field="*{previousCounseling}"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary form-control">Save Edits</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--JOURNAL ENTRY CARDS-->
<div class="mt-3">
    <h1 class="blue-font"> Journal Entries:</h1>
    <div class="card text-center mt-2" th:each="journal: ${journals}">
        <div class="card-body">
            <h5 class="card-title">
                <span th:text="${journal.title}"></span></a>
            </h5>
            <p>Posted on <span th:text="${journal.date}">date goes here</span></p>
            <p>Rating: <span th:text="${journal.rating}"></span></p>
            <p class="card-text" th:text="${journal.entry}"></p>
        </div>
    </div>
</div>

<!--JOURNAL ENTRY MODAL-->
<button type="button" data-toggle="modal" data-target="#myJournalModal" class="btn mt-2 form-control">Add a New Journal
    Entry</button>

<div class="add-modal modal" id="myJournalModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Entry:</h5>
                <button type="button" class="add-modal-close close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-group">
                <form th:action="@{/journal/create}" th:method="POST" th:object="${journal}">
                    <div class="modal-body">
                    <div class="form-row mt-1">
                        <label for="title" class="col-form-label">Title</label>
                        <input class="form-control" id="title" type ="text" th:field="*{title}" placeholder="Enter title">
                    </div>
                    <div class="form-row mt-1">
                        <label for="body" class="col-form-label">Tell us about your day..</label>
                        <textarea class="form-control" id="body" th:field="*{entry}"
                                  placeholder="How are you feeling today?"></textarea>
                    </div>
                    <div class="form-row mt-3 d-flex justify-content-around">
    
                        <!--RADIO 1: GREAT -->
                        <input type="radio" class="radio_item" value="5" name="item" id="great" th:field="*{rating}">
                        <label class="label_item" for="great"><i class="far fa-smile-beam fa-2x"></i></label>
    
                        <!--RADIO 2: GOOD-->
                        <input type="radio" class="radio_item" value="4" name="item" id="good" th:field="*{rating}">
                        <label class="label_item" for="good"><i class="far fa-meh fa-2x"></i></label>
    
                        <!--RADIO 3: OKAY-->
                        <input type="radio" class="radio_item" value="3" name="item" id="okay" th:field="*{rating}">
                        <label class="label_item" for="okay"><i class="far fa-frown-open fa-2x"></i></label>
    
                        <!--RADIO 4: NOT GREAT-->
                        <input type="radio" class="radio_item" value="2" name="item" id="not-great"
                               th:field="*{rating}">
                        <label class="label_item" for="not-great"><i class="far fa-sad-tear fa-2x"></i></label>
    
                        <!--RADIO 5: BAD-->
                        <input type="radio" class="radio_item" value="1" name="item" id="bad" th:field="*{rating}">
                        <label class="label_item" for="bad"><i class="far fa-tired fa-2x"></i></label>
    
                    </div>
                    <div class="form-row mt-1">
                        <label for="date" class="col-form-label">Date (YYYY-MM-DD) </label>
                        <input class="form-control" id="date" th:field="*{date}" placeholder="Enter date">
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary form-control">Add Entry</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Mood');
        data.addColumn('number', 'Entries');
        data.addRows([
            ['Great', 3],
            ['Good', 4],
            ['OK', 9],
            ['Not Great', 1],
            ['Bad', 5]
        ]);

        // Set chart options
        var options = {
            width: 600,
            height: 300,
            title: 'Journal Mood Tracker',
            colors: ['#6096B4']
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>

<div id="chart_div"></div>



<th:block th:replace="fragment/scripts :: scripts" />
</body>
</html>