<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Sign up</title>
    <th:block th:include="fragment/header :: main-header"></th:block>
    <!--<th:block th:include="fragment/nav :: main-nav"></th:block>-->
</head>
<body>
<th:block th:replace="fragment/navbar :: main-nav"> </th:block>
<!--<div th:include="fragment/navbar :: main-nav"></div>-->

<h1>Create an account</h1>
<form th:action="@{/register}" method="POST" th:object="${users}">
    <label for="username">Username</label>
    <input id="username" th:field="*{username}" />

    <label for="email">Email</label>
    <input id="email" th:field="*{email}" />

    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}" />

    <label for="first_name">First Name</label>
    <input id="first_name" th:field="*{first_name}" />

    <label for="last_name">Last Name</label>
    <input id="last_name"  th:field="*{last_name}" />

    <label for="phone_number">Phone</label>
    <input id="phone_number"  th:field="*{phone_number}" />

    <label for="client_token">Client Token</label>
    <input id="client_token"  name="client_token" class="field"/>

    <input value="Sign me up!" type="submit" />
</form>




<form>

    <div class="form-group">
        <label for="exampleInputEmail1">First Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter first name">
    </div>


        <div class="form-group">
            <label for="exampleInputEmail1">Last Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter last name">

        </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">

    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Phone Number</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter phone number">

    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Client Token</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter client token">

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>