<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/header :: main-header">

</head>
<body>
<th:block th:replace="fragment/navbar :: main-nav"> </th:block>

<form th:action="@{/register}" method="POST" th:object="${users}">
    <div class="card register-mainBox">
        <div class="card-body box-box">
            <span th:if="${param.error}" class="text-danger text-center">Username exists</span>
        <h1 class="card-title blue-font text-center" >Register</h1>

        <p class="card-subtitle mb-2 text-muted text-center" id="register-about">Please enter your information, including the Client Token given to you by your provider.</p>
    <div class="form-group">
        <label for="first_name" class="blue-font">First Name</label>
        <input id="first_name" th:field="*{first_name}" class=" card-text form-control" placeholder="Enter first name">
    </div>

        <div class="form-group">
            <label for="last_name" class="blue-font">Last Name</label>
            <input id="last_name"  th:field="*{last_name}" class="form-control" placeholder="Enter last name">

        </div>

    <div class="form-group">
        <span th:if="${param.error_username}" class="text-danger text-center">Username exists</span> <br>
        <label for="username" class="blue-font">Username </label>
        <input id="username" th:field="*{username}"  class="form-control" placeholder="Enter username">

    </div>

    <div class="form-group">
        <label for="password" class="blue-font">Password</label>
        <input id="password" type="password" th:field="*{password}"  class="form-control" placeholder="Password">
    </div>

    <div class="form-group">
        <span th:if="${param.error_email}" class="text-danger text-center">Email exists</span> <br>
        <label for="email" class="blue-font">Email</label>
        <input id="email" th:field="*{email}" type="email" class="form-control" placeholder="Enter email">

    </div>

    <div class="form-group">
        <label for="phone_number" class="blue-font">Phone Number</label>
        <input id="phone_number"  th:field="*{phone_number}"  class="form-control" placeholder="Enter phone number">
    </div>


    <div class="form-group">
        <label for="client_token" class="blue-font">Client Token</label>
        <input id="client_token"  name="client_token" class="form-control field" placeholder="Enter client token">

    </div>
            <!--<a href="#" class="btn btn-primary register-button" type="submit">Sign In</a>-->
    <input value="Sign In" class="register-button" type="submit"/>
        </div>
    </div>


</form>

<th:block th:replace="fragment/scripts :: scripts" />
</body>
</html>