<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: main-header('About Us')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bgtest">
<div th:include="fragment/navbar.html :: main-nav"></div>


<!--<div>-->
<!--    <h1 class="aboutus-header grey-font" id="aboutus">About Us</h1>-->
<!--</div>-->
<div class="row aboutusRow">

    <div class="fancy-cards">

        <div class="fancy-card">
            <div class="top karli-pic">
            </div>
            <div class="middle"></div>
            <div class="bottom"></div>
            <h3 class="title">Karli Steeves</h3>
           <a href="https://github.com/karlisteeves"><i class="fab fa-github fa-2x hover-blue"></i></a>
            <a href="https://www.linkedin.com/in/karli-steeves/"><i class="fab fa-linkedin fa-2x hover-blue"></i></a>
            <a href="https://alumni.codeup.com/students/746"><i class="fas fa-graduation-cap fa-2x hover-blue"></i></a>
        </div>
    </div>


    <div class="fancy-cards">

        <div class="fancy-card">
            <div class="top alyssa-pic">
                <div class="caption">

                </div>
            </div>
            <div class="middle"></div>
            <div class="bottom"></div>
            <h3 class="title">Alyssa Briggs</h3>
            <a href="https://github.com/alyssabriggs"><i class="fab fa-github fa-2x hover-blue"></i></a>
            <a href="https://www.linkedin.com/in/alyssalbriggs/"><i class="fab fa-linkedin fa-2x hover-blue"></i></a>
            <a href="https://alumni.codeup.com/students/748"><i class="fas fa-graduation-cap fa-2x hover-blue"></i></a>

        </div>
    </div>


    <div class="fancy-cards">

        <div class="fancy-card">
            <div class="top lauren-pic">
                <div class="caption">

                </div>
            </div>
            <div class="middle"></div>
            <div class="bottom"></div>
            <h3 class="title">Lauren Tovar</h3>
            <a href="https://github.com/laurentovar"><i class="fab fa-github fa-2x hover-blue"></i></a>
            <a href="https://www.linkedin.com/in/lauren-tovar/"><i class="fab fa-linkedin fa-2x hover-blue"></i></a>
            <a href="https://alumni.codeup.com/students/763"><i class="fas fa-graduation-cap fa-2x hover-blue"></i></a>
        </div>
    </div>


    <div class="fancy-cards">

        <div class="fancy-card">
            <div class="top andrew-pic">
                <div class="caption">

                </div>
            </div>
            <div class="middle"></div>
            <div class="bottom"></div>
            <h3 class="title">Andrew Swint</h3>
            <a href="https://github.com/andrewswint"><i class="fab fa-github fa-2x hover-blue"></i></a>
            <a href="https://www.linkedin.com/in/andrew-swint/"><i class="fab fa-linkedin fa-2x hover-blue"></i></a>
            <a href="https://alumni.codeup.com/students/743"><i class="fas fa-graduation-cap fa-2x hover-blue"></i></a>
        </div>
    </div>

</div>
<th:block th:replace="fragment/scripts :: scripts" />
</body>
</html>