<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: main-header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="fragment/navbar.html :: main-nav"></div>

<div class="row">
    <div class="fancy-cards">

        <div class="fancy-card">
            <div class="top karli-pic">
                <!--<div class="caption">-->
                <!--<h3 class="title">Karli Steeves</h3>-->
                <!--&lt;!&ndash;<a href="" class="button">Find Out </a>&ndash;&gt;-->
                <!--</div>-->
            </div>
            <div class="middle"></div>
            <div class="bottom"></div>
            <h3 class="title">Karli Steeves</h3>
            <i class="fab fa-github"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fas fa-angle-up"></i>
        </div>
    </div>


    <div class="fancy-cards">

        <div class="fancy-card">
            <div class="top alyssa-pic">
                <div class="caption">
                    <!--<h3 class="title">Alyssa Briggs</h3>-->
                    <!--<a href="" class="button">Find Out </a>-->
                </div>
            </div>
            <div class="middle"></div>
            <div class="bottom"></div>
            <h3 class="title">Alyssa Briggs</h3>
            <i class="fab fa-github"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fas fa-angle-up"></i>
        </div>
    </div>


    <div class="fancy-cards">

        <div class="fancy-card">
            <div class="top lauren-pic">
                <div class="caption">
                    <!--<h3 class="title">Lauren Tovar</h3>-->
                    <!--<a href="" class="button">Find Out </a>-->
                </div>
            </div>
            <div class="middle"></div>
            <div class="bottom"></div>
            <h3 class="title">Lauren Tovar</h3>
            <i class="fab fa-github"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fas fa-angle-up"></i>
        </div>
    </div>


    <div class="fancy-cards">

        <div class="fancy-card">
            <div class="top andrew-pic">
                <div class="caption">
                    <!--<h3 class="title">Andrew Swint</h3>-->
                    <!--<a href="" class="button">Find Out </a>-->
                </div>
            </div>
            <div class="middle"></div>
            <div class="bottom"></div>
            <h3 class="title">Andrew Swint</h3>
            <i class="fab fa-github"></i>
            <i class="fab fa-linkedin"></i>
        </div>
    </div>


</div>
</body>
</html>