<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: main-header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bgtest">
<div th:include="fragment/navbar.html :: main-nav"></div>


<div class="row">

    <div class="fancy-cards">

        <div class="fancy-card">
            <div class="top karli-pic">
                <!--<div class="caption">-->
                <!--<h3 class="title">Karli Steeves</h3>-->
                <!--&lt;!&ndash;<a href="" class="button">Find Out </a>&ndash;&gt;-->
                <!--</div>-->
            </div>
            <div class="middle"></div>
            <div class="bottom"></div>
            <h3 class="title">Karli Steeves</h3>
           <a href="https://github.com/karlisteeves"><i class="fab fa-github fa-2x hover-blue"></i></a>
            <a href="https://www.linkedin.com/in/karli-steeves/"><i class="fab fa-linkedin fa-2x hover-blue"></i></a>
            <i class="fas fa-graduation-cap fa-3x hover-blue"></i>
        </div>
    </div>


    <div class="fancy-cards">

        <div class="fancy-card">
            <div class="top alyssa-pic">
                <div class="caption">
                    <!--<h3 class="title">Alyssa Briggs</h3>-->
                    <!--<a href="" class="button">Find Out </a>-->
                </div>
            </div>
            <div class="middle"></div>
            <div class="bottom"></div>
            <h3 class="title">Alyssa Briggs</h3>
            <a href="https://github.com/alyssabriggs"><i class="fab fa-github fa-2x hover-blue"></i></a>
            <a href="https://www.linkedin.com/in/alyssalbriggs/"><i class="fab fa-linkedin fa-2x hover-blue"></i></a>
            <i class="fas fa-graduation-cap fa-3x hover-blue"></i>
        </div>
    </div>


    <div class="fancy-cards">

        <div class="fancy-card">
            <div class="top lauren-pic">
                <div class="caption">
                    <!--<h3 class="title">Lauren Tovar</h3>-->
                    <!--<a href="" class="button">Find Out </a>-->
                </div>
            </div>
            <div class="middle"></div>
            <div class="bottom"></div>
            <h3 class="title">Lauren Tovar</h3>
            <a href="https://github.com/laurentovar"><i class="fab fa-github fa-2x hover-blue"></i></a>
            <a href="https://www.linkedin.com/in/lauren-tovar/"><i class="fab fa-linkedin fa-2x hover-blue"></i></a>
            <i class="fas fa-graduation-cap fa-3x hover-blue"></i>
        </div>
    </div>


    <div class="fancy-cards">

        <div class="fancy-card">
            <div class="top andrew-pic">
                <div class="caption">
                    <!--<h3 class="title">Andrew Swint</h3>-->
                    <!--<a href="" class="button">Find Out </a>-->
                </div>
            </div>
            <div class="middle"></div>
            <div class="bottom"></div>
            <h3 class="title">Andrew Swint</h3>
            <a href="https://github.com/andrewswint"><i class="fab fa-github fa-2x hover-blue"></i></a>
            <a href="https://www.linkedin.com/in/andrew-swint/"><i class="fab fa-linkedin fa-2x hover-blue"></i></a>
            <i class="fas fa-graduation-cap fa-3x hover-blue"></i>
        </div>
    </div>

    <div>
        <h1 class="aboutus-header grey-font">About Us</h1>
        <p class="abboutus-p grey-font">We are a group of dedicated Software Developers and this is our final project at Codeup. Healthology is a full-stack Java application that uses Spring to access a MySQL database. The front-end layout is a mixture of BootStrap framework and a lot of custom written CSS. This project utilized two separate APIs- both TalkJS and FileStack were implemented. </p>
    </div>
</div>
</body>
</html>