<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: main-header('Healthology')">
</head>
<body class="bgtest">

<div class="index-background-1">
    <!--<a name="top"></a>-->
    <div th:include="fragment/navbar.html :: main-nav"></div>

    <!--<h1>Here to Help</h1>-->
    <div class="parallax-wrapper" style="height: 95vh">
        <a name="top"></a>
    <div class="testing">
        <div class="container indexCont">
            <img src="/images/imagescontainer/laptoptest.png" alt="phone" class="landing-pic fadein1">
        </div>
    </div>


    <div class="right-colu2">
        <h3 class="blue-font fadein1 headTitle">Helping yourself by helping others.</h3>
    </div>


    <div class="test">
        <p class=" main-paragraph fadein2" id="test">
            Healthology is a safe, friendly environment where you can build bonds and help yourself grow. We are a
            text-based community that connects you to <strong>real</strong> doctors and people <em>just like you</em>.
            You're not alone.
        </p>

    </div>


    <img src="/images/imagescontainer/laptoptest.png" alt="phone" class="landing-pic2 fadein1">

    <div id="indexblurb2">
        <!--    <h3 class="blue-font fadein1"> Real people. Real support. </h3>-->
        <!--    <p class="fadein2">-->
        <!--        Get in touch with real people who understand what you're going through at just the click of a button. Our chatrooms are moderated by certified doctors to make sure you're getting the right help you need, when you need it.-->
        <!--    </p>-->


    </div>

    <div>
<!--        <a href="#middle"><i class="fas fa-sort-down fa-5x down-arrow fadein3"></i></a>-->

    </div>


    
</div>
</div>

<!--parallax scrolling-->
<div class="parallax-window" data-parallax="scroll" data-image-src="images/imagescontainer/indexphotoone.jpeg">
    <h2 class="title2">Real people. Real support.</h2>
</div>
<div class="desc-wrapper" style="height: 100vh">
    <!--            <h3 class="season&#45;&#45;title">title</h3>-->
    <p class="about1"> Get in touch with real people who understand what you're going through at just
        the click of a button. Our chatrooms are moderated by certified doctors to make sure you're getting
        the right help you need, when you need it.</p>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="images/imagescontainer/woman-between-men-facing-mountains-1255062.jpg">
    <h2 class="title3">Get help anytime, anywhere.</h2>
</div>

<div class="desc-wrapper" style="height: 100vh">
    <!--            <h3 class="picture-title">title</h3>-->
    <p class="about2">We know life can be hard, and that's why we want to help. We are a tight-knit team dedicated
        to making your life just a little bit easier with always accessible help. Find out more about us <a th:href="@{/aboutMe}" id="white-anchor">here</a>.</p>
    <p class="backToTop"><a href="#top" class="backTop">Back to top of page</a></p>
</div>

<th:block th:replace="fragment/scripts :: scripts" />
</body>

</html>