<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: main-header">
</head>
<div class="index-background-1">

<body>
<div th:include="fragment/navbar.html :: main-nav"></div>
<!--<h1>Here to Help</h1>-->


<div class="container ">
    <img src="/images/imagescontainer/laptoptest.png" alt="phone" class="landing-pic fadein1">
</div>

<div class="right-colu2">
    <h3 class="blue-font fadein1">Helping yourself by helping others.</h3>
</div>
<div>
    <p class="right-colu3 main-paragraph fadein2" id="test">
        Healthology is a safe, friendly environment where you can build a community and help yourself grow. We are a text-based community that connects you to <strong>real</strong> doctors and people <em>just like you</em>. You're not alone.
    </p>

</div>
<div>
    <a href="#bottom"><i class="fas fa-sort-down fa-5x down-arrow fadein3"></i></a>
</div>
<div class="index-background-2">
    <img src="images/imagescontainer/woman-between-men-facing-mountains-1255062.jpg" class="index-image">
</div>

<th:block th:replace="fragment/scripts :: scripts" />
<a id="bottom"></a>
</body>
</div>
</html>