<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: main-header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="fragment/navbar.html :: main-nav"></div>


<ul>
    <h2>Suicide</h2>
    <li>
        800-784-2433
    </li>
    <li>
        800-799-4889(TTY/TDD)
    </li>
    <li>
        <a href="http://suicide.org/"> Suicide.org</a>
    </li>
</ul>

<ul>
    <h2>Sexual Assault</h2>
    <li> <a href="https://www.rainn.org/"> National Sexual Assault Hotline </a>  (800-656-4673)</li>
</ul>

<ul>
    <h2>Veterans</h2>
    <li> <a href="https://www.veteranscrisisline.net/"> Veterans Crisis Line </a>  (800-273-8255)</li>
</ul>

<ul>
    <h2>LGBTQ+</h2>
    <li> <a href="https://www.thetrevorproject.org/"> Trevor Project </a>  (866-488-7386)</li>
</ul>

<ul>
    <h2>Alcohol / Drugs</h2>
    <li> <a href="https://www.samhsa.gov/"> Substance Abuse and Mental Health Services Administration </a>  (800-662-4357)</li>
    <li> <a href="http://drughelpline.org/">National Drug Helpline </a> (844-289-0879)</li>
    <li><a href="https://www.aa.org/"> Alcoholics Anonymous Number</a> (212-870-3400)</li>
    <li><a href="https://nacoa.org/">National Association for Children of Alcoholics </a> (888-554-2627)</li>
</ul>

<ul>
    <h2>Domestic Abuse</h2>
    <li> <a href="https://www.thehotline.org/help/"> National Domestic Violence Hotline </a>  (800-799-7233)</li>
    <li> <a href="https://fvps.org/">Family Violence Prevention Services </a> (210-733-8810)</li>
</ul>
</body>
</html>