<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: main-header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="background-1">
    <div class="background-2">
        <div th:include="fragment/navbar.html :: main-nav"></div>

        <h2 class="card-1-title blue-font"><i class="fas fa-laptop-medical"></i> Seeking Help</h2>
        <div class="container">
            <div class="card text-center marg-push">
                <div class="card-body shadow">

                    <div class="faq-content">
                        <div class="faq-question">
                            <input id="q1" type="checkbox" class="panel">
                            <div class="plus">+</div>
                            <label for="q1" class="panel-title blue-font">What is mental health?</label>
                            <div class="panel-content">
                                Mental health involves a level of psychological well-being. Mental health includes
                                emotional, psychological, and social well-being. It can affect how we feel, think, and
                                how we act. Mental health can be associated with our ability able to handle stress,
                                relate to others, and make decisions. It is an important factor in your ability to
                                function everyday. Mental illnesses are typically serious disorders that can negatively
                                affect your thinking, mood, and behavior. Your mental health is important in every stage
                                of your life. People with mental health problems can get better, and many of them
                                recover completely.
                            </div>
                        </div>

                        <div class="faq-question">
                            <input id="q2" type="checkbox" class="panel">
                            <div class="plus">+</div>
                            <label for="q2" class="panel-title blue-font">What is a crisis?</label>
                            <div class="panel-content">
                                A crisis is someone’s personal reaction to an event or experience in their life that
                                distresses them beyond their ability to cope with it. A crisis may mean many different
                                things to many different people. It can be something sudden and traumatic or be
                                something a that has been weighting on that person for a long time. What you need to
                                keep in mind is if a crisis is turing dangerous. When a crisis turns dangerous for your
                                or others, it's time for you to get some help.
                            </div>
                        </div>


                        <div class="faq-question">
                            <input id="q3" type="checkbox" class="panel">
                            <div class="plus">+</div>
                            <label for="q3" class="panel-title blue-font">How do I know if I'm in crisis?</label>
                            <div class="panel-content">

                                <ul>
                                    <li> If you a plan to cause harm to yourself or others then this is in need of
                                        immediate mental health emergency services. Please utilize the resources below,
                                        or call 911 (or your relevant emergency phone number in your country) and notify
                                        the police or emergency medical services.<br><br></li>
                                    <li> If you're no sure, ask yourself if you have thought about the method you would
                                        use. If you have thought about where and when you would harm yourself or another
                                        person that means you have begun developing a plan.<br><br></li>
                                    <li> If you are still unsure, you should ask a friend or family member to stay with
                                        you while you may be at risk and utilize the resources listed to get help. If
                                        you are currently in therapy please get in touch with your medical or mental
                                        health providers.
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="faq-question">
                            <input id="q4" type="checkbox" class="panel">
                            <div class="plus">+</div>
                            <label for="q4" class="panel-title blue-font">How can I improve my mental health?</label>
                            <div class="panel-content">

                                <ul>
                                    <li>Staying positive because a positive attitude can go a long way. Take a second to
                                        look at one good thing that happened in your day, even if it was something
                                        small. <br><br></li>
                                    <li>Make strong connections with others because your relationships play a major role
                                        in your mental health.<br><br></li>
                                    <li>Develop a new sense of meaning and purpose in life. Find something that you
                                        enjoy and do those things. Having a hobby might be beneficial and give you
                                        something to look forward to.<br><br></li>
                                    <li>Getting enough sleep. Sleep deprivation can lead to stress and have a negative
                                        impact on your mental health.<br><br></li>
                                    <li>Developing coping skills. Coping skills can help you deal with your feelings in
                                        a healthy way. Healthy coping strategies may soothe you, temporarily distract
                                        you, or help you tolerate your distress.<br><br></li>
                                    <li>Getting professional help if you need it.</li>
                                </ul>
                            </div>
                        </div>

                        <div class="faq-question">
                            <input id="q5" type="checkbox" class="panel">
                            <div class="plus">+</div>
                            <label for="q5" class="panel-title blue-font">What are some resources for me?</label>
                            <div class="panel-content">
                                <ul>
                                    <li>You can use some of the resources provided below, you can call or visit their
                                        website. <br><br></li>

                                    <li>Where you go for help will depend on the nature of the problem and/or symptoms
                                        and what best fits you. Often, the best place to start is by talking with
                                        someone you trust about your concerns, such as a family member, friend, clergy,
                                        healthcare provider, or other professionals. Having this social support is
                                        essential in healing from mental illness, and you will be able to ask them for
                                        referrals or recommendations for trusted mental health practitioners. Search for
                                        mental health resources in your area.<br><br>
                                    </li>
                                    <li>Many people find peer support a helpful tool that can help in their recovery.
                                        There are a variety of organizations that offer support groups for clients,
                                        their family members, and friends. Some support groups are peer led while others
                                        may be led by a mental health professional.
                                    </li>
                                </ul>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="background-3">


        <h2 class="card-1-title blue-font"><i class="fas fa-phone-alt"></i> Crisis Numbers</h2>
        <div class="container">

            <div class="card marg-push">

                <div class="shadow card-body">
                    <h6 class="card-subtitle mb-2 text-muted">If you're in immediate danger, please call 9-1-1</h6>
                    <div class="left-colu">

                        <br>
                        <p class="card-text grey-font text-left">  <h5 class="card-title blue-font">Suicide</h5>

                        <a href="http://suicide.org/" class="card-link resource-link small-text">www.suicide.org</a>
                        <p class="card-text grey-font small-text">800-784-2433</p>

                        <a href="https://suicidepreventionlifeline.org/" class="card-link resource-link small-text">www.suicidepreventionlifeline.org</a>
                        <p class="card-text grey-font small-text">800-273-TALK (8255)</p>
                        <br>

                        <p class="card-text grey-font text-right"> <h5 class="card-title blue-font">Sexual Assault</h5>
                        <a href="https://suicidepreventionlifeline.org/" class="card-link resource-link small-text">National
                            Sexual Assault Hotline</a>
                        <p class="card-text grey-font small-text">800-656-4673</p>
                        <br>

                        <h5 class="card-title blue-font">Veterans</h5>
                        <a href="https://www.veteranscrisisline.net/" class="card-link resource-link small-text">Veterans
                            Crisis Line</a>
                        <p class="card-text grey-font small-text">800-273-8255</p>
                        <br>
                        <h5 class="card-title blue-font">LGBTQ+</h5>
                        <a href="https://www.thetrevorproject.org/" class="card-link resource-link small-text">Trevor
                            Project </a>
                        <p class="card-text grey-font small-text">866-488-7386</p>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 right-colu">
                            <h5 class="card-title blue-font">Alcohol / Drugs</h5>

                            <a href="https://www.samhsa.gov/" class="card-link resource-link small-text">Substance Abuse
                                and Mental Health Services Administration </a>
                            <p class="card-text grey-font small-text">800-662-4357</p>
                            <a href="http://drughelpline.org/" class="card-link resource-link small-text">National Drug
                                Helpline</a>
                            <p class="card-text grey-font small-text">844-289-0879</p>
                            <a href="https://nacoa.org/" class="card-link resource-link small-text">National Association
                                for Children of Alcoholics</a>
                            <p class="card-text grey-font small-text">888-554-2627</p>
                            <br>
                            <h5 class="card-title blue-font">Domestic Abuse</h5>
                            <a href="https://www.thehotline.org/help/" class="card-link resource-link small-text">National
                                Domestic Violence Hotline </a>
                            <p class="card-text grey-font small-text">800-799-7233</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>

</script>
</body>
</html>