<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: main-header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="fragment/navbar.html :: main-nav"></div>
<div class="container">


    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Suicide</h2>
            <h6 class="card-subtitle mb-2 text-muted">If you're in immediate danger, please call 9-1-1</h6>
            <a href="http://suicide.org/" class="card-link">www.suicide.org</a>
            <br>
            <a href="https://suicidepreventionlifeline.org/" class="card-link">www.suicidepreventionlifeline.org</a>
            <p class="card-text">800-273-TALK (8255)</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Sexual Assault</h2>
            <h6 class="card-subtitle mb-2 text-muted">If you're in immediate danger, please call 9-1-1</h6>
            <a href="https://suicidepreventionlifeline.org/" class="card-link">National Sexual Assault Hotline</a>
            <p class="card-text">800-656-4673</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Veterans</h2>
            <h6 class="card-subtitle mb-2 text-muted">If you're in immediate danger, please call 9-1-1</h6>
            <a href="https://www.veteranscrisisline.net/" class="card-link">Veterans Crisis Line</a>
            <p class="card-text">800-273-8255</p>
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <h2 class="card-title">LGBTQ+</h2>
            <h6 class="card-subtitle mb-2 text-muted">If you're in immediate danger, please call 9-1-1</h6>
            <a href="https://www.thetrevorproject.org/" class="card-link">Trevor Project </a>
            <p class="card-text">866-488-7386</p>
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Alcohol / Drugs</h2>
            <h6 class="card-subtitle mb-2 text-muted">If you're in immediate danger, please call 9-1-1</h6>
            <a href="https://www.samhsa.gov/" class="card-link">Substance Abuse and Mental Health Services Administration </a>
            <p class="card-text">800-662-4357</p>
            <br>
            <a href="http://drughelpline.org/" class="card-link">National Drug Helpline</a>
            <p class="card-text">844-289-0879</p>
            <br>
            <a href="https://www.aa.org/" class="card-link">Alcoholics Anonymous Number</a>
            <p class="card-text">212-870-3400</p>
            <br>
            <a href="https://nacoa.org/" class="card-link">National Association for Children of Alcoholics</a>
            <p class="card-text">888-554-2627</p>

        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Domestic Abuse</h2>
            <a href="https://www.thehotline.org/help/" class="card-link">National Domestic Violence Hotline </a>
            <p class="card-text">800-799-7233</p>
            <br>
            <a href="https://fvps.org/" class="card-link">Family Violence Prevention Services </a>
            <p class="card-text">210-733-8810</p>
        </div>
    </div>


</div>
</body>
</html>